@font-face {
  font-family: 'iconfont';
  /* project id 524218 */
  src: url("//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.eot");
  src: url("//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.woff") format("woff"), url("//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.ttf") format("truetype"), url("//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.svg#iconfont") format("svg"); }
html {
  height: 100%; }
  html body {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%; }
    html body header .navbar {
      background-color: #ff6b6b; }
      html body header .navbar .navbar-brand {
        color: #ffffff;
        font-size: 22px; }
      html body header .navbar .navbar-brand:hover {
        color: #ffffff;
        cursor: default; }
      html body header .navbar .navbar-nav li a {
        color: #ffffff; }
      html body header .navbar .navbar-nav li a.dropdown-toggle {
        line-height: 18px; }
      html body header .navbar .navbar-nav li .dropdown-menu a {
        color: #000; }
        html body header .navbar .navbar-nav li .dropdown-menu a .iconfont {
          font-size: 14px;
          color: #000;
          margin-right: 6px; }
      html body header .navbar .iconfont {
        font-family: "iconfont" !important;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale; }
    html body content {
      height: calc(100% - 52px); }
      html body content .left-part {
        position: relative;
        top: -20px;
        height: calc(100% - 52px);
        width: 240px;
        border-right: 2px solid #ebeff2;
        padding: 0; }
        html body content .left-part .nav-tabs {
          border-bottom: 0; }
          html body content .left-part .nav-tabs li {
            width: 50%; }
          html body content .left-part .nav-tabs li a {
            margin-right: 0;
            text-align: center;
            color: #000; }
          html body content .left-part .nav-tabs .active {
            border-bottom: 3px solid #2b9ecc; }
        html body content .left-part .tab-content {
          font-size: 12px;
          line-height: 25px; }
          html body content .left-part .tab-content li {
            cursor: pointer; }
          html body content .left-part .tab-content .list1 > li > div span {
            padding-left: 30px; }
          html body content .left-part .tab-content .list2 > li > div span {
            padding-left: 45px; }
          html body content .left-part .tab-content .list3 > li > span {
            padding-left: 60px; }
          html body content .left-part .tab-content .list3 > li:hover {
            background: #ffffff; }
          html body content .left-part .tab-content .iconfont {
            font-family: "iconfont" !important;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            color: #999999;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            margin-right: 5px; }
          html body content .left-part .tab-content .downArrow {
            display: inline-block;
            float: right; }
          html body content .left-part .tab-content #newModel {
            text-decoration: underline;
            padding-left: 10px; }
            html body content .left-part .tab-content #newModel .iconfont {
              margin-right: 2px; }
      html body content .right-part {
        position: relative;
        top: -20px;
        height: calc(100% - 52px);
        width: calc(100% - 242px); }
        html body content .right-part .title span {
          line-height: 42px;
          font-size: 17px; }
        html body content .right-part .drawing {
          height: 60%; }
          html body content .right-part .drawing .title {
            height: 42px;
            margin: 0; }
            html body content .right-part .drawing .title ul {
              margin: 0;
              height: 42px;
              line-height: 42px;
              float: right;
              font-size: 12px;
              text-align: center; }
              html body content .right-part .drawing .title ul li {
                display: inline-block;
                line-height: 20px;
                width: 70px;
                border: solid 1px #2b9ecc;
                cursor: pointer; }
          html body content .right-part .drawing a:link, html body content .right-part .drawing a:visited, html body content .right-part .drawing a:hover, html body content .right-part .drawing a:active {
            text-decoration: none;
            color: #2b9ecc; }
          html body content .right-part .drawing div:last-child {
            height: calc(100% - 42px);
            background: #ffffff; }
          html body content .right-part .drawing #myholder {
            position: relative;
            overflow: auto; }
            html body content .right-part .drawing #myholder .iconfont {
              font-family: "iconfont" !important;
              font-size: 14px;
              font-style: normal;
              font-weight: normal;
              color: #010101;
              -webkit-font-smoothing: antialiased;
              -webkit-text-stroke-width: 0.2px;
              -moz-osx-font-smoothing: grayscale;
              display: inline-block;
              margin-right: 5px;
              background-color: #f1f1f2;
              height: 16px; }
            html body content .right-part .drawing #myholder .item {
              border: 1px solid #346789;
              box-shadow: 2px 2px 19px #aaa;
              -o-box-shadow: 2px 2px 19px #aaa;
              -webkit-box-shadow: 2px 2px 19px #aaa;
              -moz-box-shadow: 2px 2px 19px #aaa;
              -moz-border-radius: 0.5em;
              border-radius: 0.5em;
              opacity: 0.8;
              width: 110px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              text-align: center;
              z-index: 20;
              position: absolute;
              background-color: #eeeeef;
              color: black;
              font-family: helvetica, sans-serif;
              padding: 0.5em;
              font-size: 0.9em;
              -webkit-transition: -webkit-box-shadow 0.15s ease-in;
              -moz-transition: -moz-box-shadow 0.15s ease-in;
              -o-transition: -o-box-shadow 0.15s ease-in;
              transition: box-shadow 0.15s ease-in; }
              html body content .right-part .drawing #myholder .item .del {
                position: absolute;
                top: -8px;
                right: -10px;
                overflow: visible; }
            html body content .right-part .drawing #myholder .item:hover {
              box-shadow: 2px 2px 19px #444;
              -o-box-shadow: 2px 2px 19px #444;
              -webkit-box-shadow: 2px 2px 19px #444;
              -moz-box-shadow: 2px 2px 19px #444;
              opacity: 0.6; }
            html body content .right-part .drawing #myholder .active {
              border: 1px dotted green; }
            html body content .right-part .drawing #myholder .hover {
              border: 1px dotted red; }
            html body content .right-part .drawing #myholder .jtk-connector {
              z-index: 4; }
            html body content .right-part .drawing #myholder .jtk-endpoint, html body content .right-part .drawing #myholder .endpointTargetLabel, html body content .right-part .drawing #myholder .endpointSourceLabel {
              z-index: 21;
              cursor: pointer; }
            html body content .right-part .drawing #myholder .aLabel {
              background-color: white;
              padding: 0.4em;
              font: 12px sans-serif;
              color: #444;
              z-index: 21;
              border: 1px dotted gray;
              opacity: 0.8;
              cursor: pointer; }
            html body content .right-part .drawing #myholder .aLabel.jtk-hover {
              background-color: #5C96BC;
              color: white;
              border: 1px solid white; }
            html body content .right-part .drawing #myholder .item.jtk-connected {
              border: 1px solid green; }
            html body content .right-part .drawing #myholder .jtk-drag {
              outline: 4px solid pink !important; }
            html body content .right-part .drawing #myholder path, html body content .right-part .drawing #myholder .jtk-endpoint {
              cursor: pointer; }
            html body content .right-part .drawing #myholder .jtk-overlay {
              background-color: transparent; }
        html body content .right-part .result-table {
          height: 40%;
          font-size: 12px; }
          html body content .right-part .result-table .result-group {
            height: calc(100% - 42px);
            background: #ffffff; }
    html body .modal-content {
      height: 480px;
      position: relative;
      font-size: 12px;
      font-weight: normal; }
      html body .modal-content .modal-header {
        padding: 5px 15px;
        text-align: center;
        background-color: #f1f1f2;
        border-radius: 5px; }
        html body .modal-content .modal-header .modal-title {
          font-size: 15px; }
      html body .modal-content .modal-body {
        height: 380px; }
        html body .modal-content .modal-body .tabs {
          border-bottom: 0;
          margin-bottom: 1px; }
          html body .modal-content .modal-body .tabs li {
            width: 50%;
            height: 35px;
            margin-left: -1px; }
          html body .modal-content .modal-body .tabs li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-right: 0;
            text-align: center;
            color: #000;
            box-sizing: border-box;
            padding: 5px;
            border: solid 1px #f1f1f2;
            border-radius: 0; }
          html body .modal-content .modal-body .tabs .active a {
            color: #2b9ecc;
            border-top: 3px solid #2b9ecc; }
        html body .modal-content .modal-body .content .basic-input {
          margin: 20px 0 10px 0; }
          html body .modal-content .modal-body .content .basic-input label {
            font-weight: normal; }
          html body .modal-content .modal-body .content .basic-input input {
            margin-left: 3px;
            padding-left: 7px;
            border: solid 1px #f1f1f2;
            width: 200px; }
        html body .modal-content .modal-body .content .relations {
          text-align: center;
          border: 0;
          margin-right: -1px;
          margin-left: 2px; }
          html body .modal-content .modal-body .content .relations li {
            display: inline-block;
            font-size: 12px;
            height: 30px;
            width: 25%;
            border: 1px solid #f1f1f2;
            margin: 0 0 0 -4px; }
          html body .modal-content .modal-body .content .relations li a {
            color: #000;
            padding: 0;
            height: 100%;
            line-height: 28px;
            text-align: center;
            border: 0;
            border-radius: 0;
            background: transparent; }
            html body .modal-content .modal-body .content .relations li a span {
              display: inline-block;
              position: relative;
              top: -2px; }
          html body .modal-content .modal-body .content .relations .active {
            background-color: #2b9ecc; }
            html body .modal-content .modal-body .content .relations .active a {
              color: #ffffff; }
              html body .modal-content .modal-body .content .relations .active a .iconfont {
                color: #ffffff; }
        html body .modal-content .modal-body .content .selectField {
          text-align: center;
          margin-left: 3px; }
          html body .modal-content .modal-body .content .selectField li {
            display: inline-block;
            width: 50%;
            height: 30px;
            margin-left: -4px;
            margin-top: -1px;
            margin-bottom: -5px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #f1f1f2;
            overflow: hidden; }
            html body .modal-content .modal-body .content .selectField li a:link, html body .modal-content .modal-body .content .selectField li a:visited, html body .modal-content .modal-body .content .selectField li a:hover, html body .modal-content .modal-body .content .selectField li a:active {
              text-decoration: none;
              color: #000000; }
            html body .modal-content .modal-body .content .selectField li a.selectA, html body .modal-content .modal-body .content .selectField li a.selectB {
              color: #999999; }
        html body .modal-content .modal-body .content .selectList {
          height: 20px;
          line-height: 20px;
          margin-top: 10px; }
          html body .modal-content .modal-body .content .selectList select {
            border: solid 1px #f1f1f2;
            display: inline-block; }
            html body .modal-content .modal-body .content .selectList select option {
              line-height: 20px; }
          html body .modal-content .modal-body .content .selectList .selectListA, html body .modal-content .modal-body .content .selectList .selectListB {
            width: 40%;
            height: 100%; }
          html body .modal-content .modal-body .content .selectList .operation {
            height: 100%;
            width: 8%; }
          html body .modal-content .modal-body .content .selectList span {
            cursor: pointer; }
            html body .modal-content .modal-body .content .selectList span .iconfont {
              font-size: 16px; }
      html body .modal-content .modal-footer {
        border: 0; }
        html body .modal-content .modal-footer button {
          font-size: 12px;
          width: 80px;
          padding: 3px;
          border-radius: 0;
          border: solid 1px #2b9ecc;
          background-color: #ffffff;
          color: #2b9ecc; }
        html body .modal-content .modal-footer .done {
          color: #ffffff;
          border-color: #2b9ecc;
          background-color: #2b9ecc; }
      html body .modal-content .iconfont {
        font-family: "iconfont" !important;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        color: #999999;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        margin-right: 5px; }
    html body #myModal2 .modal-dialog {
      margin-top: 80px; }
      html body #myModal2 .modal-dialog .modal-content {
        height: 500px; }
        html body #myModal2 .modal-dialog .modal-content .modal-body {
          height: 400px; }
          html body #myModal2 .modal-dialog .modal-content .modal-body form {
            width: 100%;
            margin-left: 25px; }
            html body #myModal2 .modal-dialog .modal-content .modal-body form div {
              display: inline-block;
              text-align: left;
              width: 30%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
        html body #myModal2 .modal-dialog .modal-content .modal-footer {
          text-align: center; }
          html body #myModal2 .modal-dialog .modal-content .modal-footer button {
            height: 22px;
            width: 70px;
            line-height: 22px;
            padding: 0; }

/*# sourceMappingURL=index.css.map */
