$themeRed:rgba(255,107,107,1);
$themeBlue: rgb(43, 158, 204);
$themeGray: #e5e5e5;
$fontSize:12px;
@font-face {
  font-family: 'iconfont';  /* project id 524218 */
  src: url('//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.eot');
  src: url('//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_524218_nih3u6xst51m7vi.svg#iconfont') format('svg');
}

html{
  height:100%;
  body{
    background-color: #f7f7f7;
    height:100%;
    width:100%;
    header{
      .navbar{
        background-color: $themeRed;
        .navbar-brand{
          color: #ffffff;
          font-size: $fontSize+10px;
          //font-weight:bold;
        }
        .navbar-brand:hover{
          color: #ffffff;
          cursor: default;
        }
        .navbar-nav{
          li{
            a{
              color: #ffffff;
            }
            a.dropdown-toggle{
              line-height: 18px;
            }
            .dropdown-menu a{
              color: #000;
              .iconfont{
                font-size: $fontSize+2px;
                color: #000;
                margin-right: 6px;
              }
            }
          }
        }
        .iconfont{
          font-family:"iconfont" !important;
          font-size:$fontSize+8px;font-style:normal;
          font-weight: normal;
          color: #ffffff;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
    content{
      height:calc(100% - 52px);
      .left-part{
        position: relative;
        top:-20px;
        height: calc(100% - 52px);
        width: 240px;
        border-right:2px solid #ebeff2;
        padding:0;

        .nav-tabs{
          border-bottom: 0;
          li{
            width:50%;
          }
          li a{
            margin-right: 0;
            text-align: center;
            color: #000;
          }
          .active{
            border-bottom: 3px solid $themeBlue;
          }
        }

        //左侧树状菜单
        .tab-content{
          font-size: $fontSize;
          line-height:25px;
          li{
            cursor: pointer;
          }
          .list1 > li >div span{
            padding-left:30px;//缩进
          }
          .list2 > li >div span{
            padding-left:45px;
          }
          .list3 > li > span{
            padding-left:60px;
          }
          .list3>li:hover{
            background: #ffffff;
          }

          .iconfont{
            font-family:"iconfont" !important;
            font-size: $fontSize+2px;font-style: normal;
            font-weight: normal;
            color: #999999;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            margin-right:5px;
          }

          .downArrow{
            display: inline-block;
            float: right;
          }

          #newModel{
            text-decoration: underline;
            padding-left: 10px;
            .iconfont{
              margin-right: 2px;
            }
          }
        }
      }
      .right-part{
        position: relative;
        top:-20px;
        height: calc(100% - 52px);
        width: calc(100% - 242px);
        .title{
          span{
            line-height: 42px;
            font-size: $fontSize+5px;
          }
        };
        .drawing{
          height: 60%;
          .title{
            height: 42px;
            margin:0;
            ul{
              margin:0;
              height:42px;
              line-height:42px;
              float: right;
              font-size: $fontSize;
              text-align: center;
              li{
                display: inline-block;
                line-height: 20px;
                width: 70px;
                border: solid 1px $themeBlue;
                cursor: pointer;
              }
            }
          }
          a:link,a:visited,a:hover,a:active{
            text-decoration: none;
            color: $themeBlue;;
          }
          div:last-child{
            height: calc(100% - 42px);
            background: #ffffff;
          }
          #myholder{
            position: relative;
            overflow:auto;

            .item {
              border: 1px solid #346789;
              box-shadow: 2px 2px 19px #aaa;
              -o-box-shadow: 2px 2px 19px #aaa;
              -webkit-box-shadow: 2px 2px 19px #aaa;
              -moz-box-shadow: 2px 2px 19px #aaa;
              -moz-border-radius: 0.5em;
              border-radius: 0.5em;
              opacity: 0.8;
              width: 110px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              text-align: center;
              z-index: 20;
              position: absolute;
              background-color: #eeeeef;
              color: black;
              font-family: helvetica, sans-serif;
              padding: 0.5em;
              font-size: 0.9em;
              -webkit-transition: -webkit-box-shadow 0.15s ease-in;
              -moz-transition: -moz-box-shadow 0.15s ease-in;
              -o-transition: -o-box-shadow 0.15s ease-in;
              transition: box-shadow 0.15s ease-in;
            }

            .item:hover {
              box-shadow: 2px 2px 19px #444;
              -o-box-shadow: 2px 2px 19px #444;
              -webkit-box-shadow: 2px 2px 19px #444;
              -moz-box-shadow: 2px 2px 19px #444;
              opacity: 0.6;
            }

            .active {
              border: 1px dotted green;
            }

            .hover {
              border: 1px dotted red;
            }

            .jtk-connector {
              z-index: 4;
            }

            .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
              z-index: 21;
              cursor: pointer;
            }

            .aLabel {
              background-color: white;
              padding: 0.4em;
              font: 12px sans-serif;
              color: #444;
              z-index: 21;
              border: 1px dotted gray;
              opacity: 0.8;
              cursor: pointer;
            }

            .aLabel.jtk-hover {
              background-color: #5C96BC;
              color: white;
              border: 1px solid white;
            }

            .item.jtk-connected {
              border: 1px solid green;
            }

            .jtk-drag {
              outline: 4px solid pink !important;
            }

            path, .jtk-endpoint {
              cursor: pointer;
            }

            .jtk-overlay {
              background-color:transparent;
            }
          }
        }
        .result-table{
          height:40%;
          font-size: $fontSize;
          .result-group{
            height: calc(100% - 42px);
            background: #ffffff;
          }

        }
      }
    }
    .modal-content{
      height:480px;
      position: relative;
      font-size: $fontSize;
      font-weight: normal;
      .modal-header{
        padding: 5px 15px;
        text-align: center;
        background-color: $themeGray;
        border-radius: 5px;
        .modal-title{
          font-size: 15px;
        }
      }
      .modal-body {
        height: 380px;
        .tabs {
          border-bottom: 0;
          li {
            width: 50%;
            height: 35px;
            margin-left: -1px;
          }
          li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-right: 0;
            text-align: center;
            color: #000;
            box-sizing: border-box;
            padding: 5px;
            border: solid 1px $themeGray;
            border-radius: 0;
          }
          .active a {
            color: $themeBlue;
            border-top: 3px solid $themeBlue;
          }
          margin-bottom: 1px;
        }

        .content {
            .basic-input{
              margin: 20px 0 10px 0;
              label{
                font-weight: normal;
              }
              input{
                margin-left: 3px;
                padding-left: 7px;
                border:solid 1px $themeGray;
                width:200px;
              }
            }

            .relations {
              text-align: center;
              border: 0;
              margin-right:-1px;
              margin-left:2px;
              li {
                display: inline-block;
                font-size: $fontSize;
                height: 30px;
                width: 25%;
                border: 1px solid $themeGray;
                margin:0 0 0 -4px;
              }
              li a {
                color: #000;
                padding: 0;
                height: 100%;
                line-height: 28px;
                text-align: center;
                border: 0;
                //margin-bottom:-1px;
                border-radius: 0;
                background: transparent;
                span {
                  display: inline-block;
                  position: relative;
                  top: -2px;
                }
              }
              .active {
                background-color: $themeBlue;
                a {
                  color: #ffffff;
                  .iconfont {
                    color: #ffffff;
                  }
                }
              }
            }
            .selectField{
              text-align: center;
              margin-left: 3px;
              li {
                display: inline-block;
                width: 50%;
                height: 30px;
                margin-left: -4px;
                margin-top: -1px;
                text-align: center;
                line-height: 30px;
                border: 1px solid $themeGray;
                a:link, a:visited, a:hover, a:active {
                  text-decoration: none;
                  color: #000000;
                }
                a.select {
                  text-decoration: underline;
                  color: $themeBlue;
                }
              }
            }

            .selectList{
              height:20px;
              line-height: 20px;
              margin-top:10px;
              select{
                border:solid 1px $themeGray;
                display: inline-block;
                option{
                  line-height: 20px;
                }
              }
              .leftList{
                width:40%;
                height:100%;
              }
              .operation{
                height:100%;
                width:8%;
              }
              .rightList{
                height:100%;
                width:40%;
              }
              span{
                cursor: pointer;
                .iconfont{
                  font-size: $fontSize+4px;
                }
              }



            }

          #basicRelation {
          }
        }
      }

      .modal-footer{
        border:0;
        button{
          font-size: $fontSize;
          width:80px;
          padding:3px;
          border-radius: 0;
          border:solid 1px $themeBlue;
          background-color: #ffffff;
          color: $themeBlue;
        }
        button.active{
          color: #ffffff;
          border-color:$themeBlue;
          background-color:$themeBlue;
        }
      }
      .iconfont{
        font-family:"iconfont" !important;
        font-size: $fontSize+4px;font-style: normal;
        font-weight: normal;
        color: #999999;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        margin-right:5px;
      }
    }
    #myModal2{
      .modal-dialog{
        margin-top: 80px;
        //width:50%;
        .modal-content{
          height:500px;
          .modal-body{
            height:400px;
            form{
              width:100%;
              margin-left: 25px;
              div{
                display: inline-block;
                text-align: left;
                width:30%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
          .modal-footer{
            text-align: center;
            button{
              height:22px;
              width: 70px;
              line-height: 22px;
              padding:0
            }
          }
        }
      }

    }

  }

}

